body {
	padding: 0;
	margin: 0;
	width: 100%;
}
 #w100{
 	width: 100%;
 }
  #w40{
 	width: 40%;
 }
  #w20{
 	width: 20%;
 }
 #w15{
 	width: 15%;
 }
 #w10{
 	width: 10%;
 }
 #w266{
 	width: 26.6%;
 }
 #w60{
 	width: 60%;
 }
  #w80{
 	width: 80%;
 }
 .c1{
 	background-color: black;
 }
 .wt{
 	color: #8f8b8c;
 	font-size: 10.5pt;
 }
 #otstyp{
 	width: 10%;
 }
 .c2{
 	text-align: center;
 }
 .c3{
 	background-color: #ffa300;
 }
 #radius{
 	border-radius: 5px;
 }
 #orang{
 	color: #e37700;
 }
 #otstyp1{
 	width: 20%;
 }
#wht{
	color: #8f8b8c;
	font-size: 10.5pt;
}
.butcol{
	background-color: #271f1f;
	color: #ffffff;
	border-radius: 3px;
	line-height: 34px;
	padding: 5px 25px;
	border-radius: 5px;
}
.size{
	font-size: 20pt;
	font-weight: lighter;
	text-indent: 30px;
}
.size2{
	font-size: 20pt;
	font-weight: lighter;
	text-indent: 30px;
}
.phsize{
	text-indent: 30px;
}
.imradius{
	border-radius: 5px;
}
.margin-block{
margin-top:50px;
}
.top{
	padding-top: 20px;
}
.textcol{
	color:#e37700;
}
 #otstyp1{
 	width: 5%;
}
.left{
	padding-right: 5px;
}
.right{
	padding-right: 20px;
}
.c4{
 	background-color: #edeef0;
}
.butcol1{
	background-color: #e1e2e4;
	color: #8f8b8c;
	border-radius: 3px;
	line-height: 34px;
	padding: 5px 25px;
	border-radius: 5px;
}
.butcol2{
	background-color: #e39202;
	color: black;
	line-height: 34px;
	padding: 5px 25px;
}
.textotst{
	padding-left: 30px;
}
.textotst1{
	padding-left: 40px;
}
.textotst2{
	padding-left: 70px;
}
 #otstypbl{
 	width: 10%;
 	background-color: black;
 }




